In [1]:
import pandas as pd

In [2]:
newsHeadline1 = pd.read_json('D:\Sarcasm_Headlines_Dataset.json', lines=True)
newsHeadline2 = pd.read_json('D:\Sarcasm_Headlines_Dataset_v2.json', lines=True)

In [3]:
newsHeadline1

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0
...,...,...,...
26704,https://www.huffingtonpost.com/entry/american-...,american politics in moral free-fall,0
26705,https://www.huffingtonpost.com/entry/americas-...,america's best 20 hikes,0
26706,https://www.huffingtonpost.com/entry/reparatio...,reparations and obama,0
26707,https://www.huffingtonpost.com/entry/israeli-b...,israeli ban targeting boycott supporters raise...,0
26708,https://www.huffingtonpost.com/entry/gourmet-g...,gourmet gifts for the foodie 2014,0

In [4]:
newsHeadline2

,is_sarcastic,headline,article_link
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...
...,...,...,...
28614,1,jews to celebrate rosh hashasha or something,https://www.theonion.com/jews-to-celebrate-ros...
28615,1,internal affairs investigator disappointed con...,https://local.theonion.com/internal-affairs-in...
28616,0,the most beautiful acceptance speech this week...,https://www.huffingtonpost.com/entry/andrew-ah...
28617,1,mars probe destroyed by orbiting spielberg-gat...,https://www.theonion.com/mars-probe-destroyed-...
28618,1,dad clarifies this not a food stop,https://www.theonion.com/dad-clarifies-this-no...

In [5]:
newsHeadline1=newsHeadline1.drop(['article_link'],axis=1)
newsHeadline2=newsHeadline2.drop(['article_link'],axis=1)

In [6]:
newsHeadline1.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

In [7]:
newsHeadline2.head()

   is_sarcastic                                           headline
0             1  thirtysomething scientists unveil doomsday clo...
1             0  dem rep. totally nails why congress is falling...
2             0  eat your veggies: 9 deliciously different recipes
3             1  inclement weather prevents liar from getting t...
4             1  mother comes pretty close to using word 'strea...

In [8]:
newsHeadline1.isnull().sum()

headline        0
is_sarcastic    0
dtype: int64

In [9]:
newsHeadline2.isnull().sum()

is_sarcastic    0
headline        0
dtype: int64

In [10]:
newsHeadline1.shape, newsHeadline2.shape

((26709, 2), (28619, 2))

In [11]:
newsHeadline1['is_sarcastic'].unique()

array([0, 1], dtype=int64)

In [12]:
newsHeadline2['is_sarcastic'].unique()

array([1, 0], dtype=int64)

In [13]:
newsHeadline1['is_sarcastic'].value_counts()

0    14985
1    11724
Name: is_sarcastic, dtype: int64

In [14]:
newsHeadline2['is_sarcastic'].value_counts()

0    14985
1    13634
Name: is_sarcastic, dtype: int64

In [15]:
newsHeadline1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26709 entries, 0 to 26708
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   headline      26709 non-null  object
 1   is_sarcastic  26709 non-null  int64
dtypes: int64(1), object(1)
memory usage: 417.5+ KB

In [16]:
newsHeadline2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28619 entries, 0 to 28618
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   is_sarcastic  28619 non-null  int64
 1   headline      28619 non-null  object
dtypes: int64(1), object(1)
memory usage: 447.3+ KB

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import metrics

In [18]:
x = newsHeadline1.headline.values
y = newsHeadline1.is_sarcastic.values

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.5, random_state=17)

In [19]:
X_train

array(['hope solo says ex-fifa president sepp blatter groped her',
       'man fishes for legendary, elusive compliment',
       'fiercest fighting in days between kurds and isis in kobani', ...,
       'fall internship pays off with coveted winter internship',
       'glorious new tomorrow postponed indefinitely',
       "russia renamed 'batshitzania'"], dtype=object)

In [20]:
X_test

array(['lindsey graham asks nearby family to take his picture for photo op',
       '5 ways to make cocoa more sustainable',
       'moronic mailroom worker worked way down from ceo', ...,
       '6-year-old becomes first child to complete solo ride around block',
       'find the love you always wanted in 2015',
       "trump's steel, aluminum tariffs exempt canada, mexico"],
      dtype=object)

In [21]:
Y_train

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [22]:
Y_test

array([1, 0, 1, ..., 1, 0, 0], dtype=int64)

In [23]:
BernNB = make_pipeline(TfidfVectorizer(), BernoulliNB())
BernNB.fit(X_train,Y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('bernoullinb', BernoulliNB())])

In [24]:
Y_bexpect = Y_test
Y_bprid = BernNB.predict(X_test)
print(accuracy_score(Y_bexpect,Y_bprid))

0.8342193934855859

In [25]:
MultiNB = make_pipeline(TfidfVectorizer(), MultinomialNB())
MultiNB.fit(X_train,Y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [26]:
Y_expect = Y_test
Y_prid = MultiNB.predict(X_test)
print(accuracy_score(Y_expect,Y_prid))

0.811681018345189

In [27]:
svm = make_pipeline(TfidfVectorizer(), SVC())
svm.fit(X_train,Y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()), ('svc', SVC())])

In [28]:
yexpect = Y_test
ypred = svm.predict(X_test)
print(accuracy_score(yexpect,ypred))

0.841707225758143

In [29]:
Dtree = make_pipeline(TfidfVectorizer(), DecisionTreeClassifier())
Dtree.fit(X_train,Y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [30]:
yexpect = Y_test
ypred = Dtree.predict(X_test)
print(accuracy_score(yexpect,ypred))

0.746611755896668

In [31]:
RF = make_pipeline(TfidfVectorizer(), RandomForestClassifier())
RF.fit(X_train, Y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('randomforestclassifier', RandomForestClassifier())])

In [32]:
yexpect = Y_test
ypred = RF.predict(X_test)
print(accuracy_score(yexpect,ypred))

0.8041183077499064